.table-body
    padding-left: 1rem
    padding-right: 1rem
    .table-controls
        padding-top: 3rem
    .table-display 
        font-family: 'Nunito', Helvetica, Arial, sans-serif
        padding-bottom: 1rem
        padding-top: 2rem
        font-size: 0.9rem
.table-heading
    font-family: 'Yatra One', Helvetica, Arial, sans-serif
    font-size: 1.15rem
.table-controls-title
    font-family: 'Yatra One', Helvetica, Arial, sans-serif
    font-size: 2rem
    margin-bottom: 5rem
.table-control-items
    .table-search
        width: 5rem
    