.table-body
    .table-controls
        padding-left: 0
        padding-right: 0
    .table-display 
        padding-right: 0.5rem
        padding-left: 0.5rem
.table-heading
    font-style: normal
    font-size: 1.3rem

.table-control-items
    padding-left: 4rem
    padding-right: 4rem

.control-sidebar
    z-index: 8
    box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22)!important
    background-color:  #6c757d
    position: sticky
    position: -webkit-sticky
    top: 0
    margin-left: -1rem

.label
    color: white
.emptytext
    font-family: 'Nunito', Helvetica, Arial, sans-serif
    font-size: 1rem  

.multiselect
  font-size: 0.8rem

.sidebar-control
  display: flex
  justify-content: flex-end
  align-content: center
  margin-bottom: 2rem
  background-color: #2e2e2e
  padding: 1rem
  padding-right: 0.6rem

.control-button
  background-color: #2e2e2e
  border: none
  color: white
.control-title
  color: white
  font-size: 1.4rem
.table-controls
  width: 28rem
.collapsed
  width: 4rem
  display: flex
  flex-direction: column
.collapsed-icon
  margin-left: 1rem
  margin-bottom: 3rem
  color: white
.label
  font-weight: bold
  font-size: 1.4rem
.form-control
  margin-bottom: 2rem
.search-icon-open
  margin-left: 1rem