.table-body
    .table-controls
        padding-top: 3rem
        width: 20rem
        max-height: 100vh
        .table-controls-title
            font-family: 'Nunito', Helvetica, Arial, sans-serif
            font-weight: 800
            font-style: normal
            font-size: 2rem
            color: white
            margin-bottom: 5rem
    .table-display 
        padding-left: 1rem
        padding-right: 1rem
        font-family: 'Nunito', Helvetica, Arial, sans-serif
        padding-bottom: 1rem
        padding-top: 2rem
        font-size: 1rem
.table-heading
    font-family: 'Nunito', Helvetica, Arial, sans-serif
    font-weight: 800
    font-style: normal
    font-size: 1.15rem
.table-control-items
    .table-search
        width: 5rem
        padding-right: 2rem !important
        padding-left: 2rem
.toolbar
    background-color: white
    position: sticky
    position: -webkit-sticky
    top: 0
.control-sidebar
    box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22)!important
    background-color:  #6c757d
    position: sticky
    position: -webkit-sticky
    top: 0
.label
    color: white







.page-item .page-link 
    color: #6c757d !important 
.page-item.active .page-link 
    background-color: #6c757d !important  
    border-color: #6c757d !important
    color: white !important
.form-control
    border-top-width: 0 !important
    border-right-width: 0 !important
    border-left-width: 0 !important
    border-radius: 0 !important
    caret-color: white
    color: white !important
    width: 250px !important
.form-control:focus
    border-bottom-color: white !important
    box-shadow: 0 0 0 0rem rgba(64, 65, 66, 0.25) !important
.btn-dark:focus, .btn-dark.focus
    -webkit-box-shadow: 0 0 0 0 rgba(82, 88, 93, 0.5) !important
    box-shadow: 0 0 0 0 rgba(82, 88, 93, 0.5) !important
.btn:focus, .btn.focus
    -webkit-box-shadow: 0 0 0 0 rgba(82, 88, 93, 0.5) !important
    box-shadow: 0 0 0 0 rgba(82, 88, 93, 0.5) !important
.container-fluid, .container-sm, .container-md, .container-lg, .container-xl
    padding-left: 0 !important
    padding-right: 0 !important
.multiselect
    width: 250px !important
.multiselect.invalid .multiselect__tags,
.multiselect.invalid .multiselect__tags span,
.multiselect.invalid .multiselect__tags input ,.multiselect__input, .multiselect__single
  background: #6c757d !important
.multiselect__input
    background: #6c757d !important
.multiselect__tags
    background: #6c757d !important
.multiselect__option
    background: #6c757d !important
    font-size: 1rem !important
.custom-select
    width: 80px !important
    color: white !important
    background: #6c757d !important
    box-shadow: 0 0 0 0 rgba(82, 88, 93, 0.5) !important
.multiselect__single
    color: white !important