@charset "utf-8";

// brand colors
$russet: rgb(116, 94, 85);
$foggy-gray: rgb(204, 198, 184);
$del-rio: rgb(166, 153, 147);
$yellow: #ffc72c;
$green: #00b398;
$blue: #2c3e50;
//$size-5:  1.25rem;

// updating Bulma's global variables
$family-sans-serif: circe, sans-serif;
$primary: $foggy-gray;
$link: $russett;
$background: $foggy-gray;
$text: $blue;
$text-light: $foggy-gray;


// logos


  // import the rest from bulma
@import "../../../node_modules/bulma/bulma";